/* ==========================================================================
   Mobile Styles
   ========================================================================== */

/* Fonts
   ========================================================================== */
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Press+Start+2P&family=Roboto+Slab:wght@700&family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

nav h1,
#intro-modal-contents h2 {
    font-family: 'Black Ops One', 'Lucida Sans Typewriter', Helvetica, sans-serif;
    letter-spacing: 0.1rem;
}

#intro-modal-contents h2 {
    font-size: 3rem;
    text-transform: uppercase;
    margin-top: 10px;
}

#player-message,
#placement-controls,
#start-game-form label,
#player-name,
#start-game-button {
    font-family: 'Press Start 2P', Arial, Helvetica, sans-serif;
}

#player-message,
#placement-controls,
#player-name {
    color: #6DFF33;
    padding: 0.5rem;
}

#start-game-form label {
    line-height: 1.8rem;
}

#player-name {
    font-size: 2rem;
    text-transform: uppercase;
}

#gameboard #gameboard-label {
    font-family: 'Press Start 2P', Arial, Helvetica, sans-serif;
    color: #FFF;
}

/* Reset
   ========================================================================== */

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

/* Outer Body
   ========================================================================== */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav,
footer {
    background-color: #333332;
    color: #fff;
    padding: 1% 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* Navigation
   ========================================================================== */
#logo {
    width: 15%;
    text-align: center;
}

#links {
    width: 85%;
    text-align: right;
}

#links ul li {
    list-style-type: none;
    display: inline-block;
    margin-right: 20px;
}

#links a {
    text-decoration: none;
    font-weight: bold;
    color: #fff;
}

/* Game Container
   ========================================================================== */
#game-container {
    display: flex;
    flex-direction: row;
    height: auto;
    min-height: 95vh;
}

#game-body {
    position: relative;
}

#game-sidebar,
#game-body,
#player-gameboard,
#computer-gameboard,
#score-inner,
#score-stats,
#player-one-stats,
#player-two-stats,
.ship-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 auto;
    align-items: center;
    flex-wrap: wrap;
}

/* Game Intro Modal - Code adpated from https://www.w3schools.com/howto/howto_css_modals.asp
   ========================================================================== */

#intro-modal {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 500;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff url('../images/backgrounds/battleship-bg-op.webp') no-repeat center left;
    border-radius: 10px;
    justify-content: center;
}

#intro-modal-contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 50px;
    width: 50%;
    /* Fallback color */
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.3);
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}

#intro-modal-contents form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#start-game-form label {
    text-align: center;
    margin-bottom: 50px;
}

#intro-modal-contents form input[type=text] {
    height: 50px;
}

#intro-modal-contents #start-game-button {
    margin-top: 50px;
}

/* Game Sidebar
   ========================================================================== */
#game-sidebar {
    width: 15%;
    min-width: 250px;
    background: #848482 url('../images/backgrounds/metal-plates.webp') repeat top left;
}

#score-inner {
    height: 97%;
    width: 85%;
    padding-top: 20px;
    background-color: #848482;
    -moz-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(255, 255, 255, .4);
    -webkit-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(255, 255, 255, .4);
    box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(255, 255, 255, .4);
}

#score-stats {
    height: auto;
    align-items: center;
    padding: 5px 0 20px 0;
}

#player-score-stats {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    column-gap: 50px;
    margin-bottom: 10px;
}

#player-one-stats,
#player-two-stats {
    height: 40%;
    align-items: center;
    padding: 30px 0;
    border-top: 1px dashed lightgrey;
}

.score-title,
.score-number {
    display: inline;
}

.score-title,
.score-ship,
#game-sidebar h2 {
    margin-bottom: 10px;
}

.ship-list {
    margin-top: 10px;
}

#player-two-stats .score-ship>img {
    filter: grayscale(100%);
}

#game-body {
    width: 85%;
    height: auto;
    background: navy url('../images/backgrounds/ocean.gif') repeat left top;
}

/* Player Message, Modal Player Name & Placement Controls
   ========================================================================== */
#player-message {
    width: 55%;
    max-width: 900px;
    margin: 20px auto;
}

#placement-controls {
    width: 55%;
    margin: 40px auto;
}

#player-message,
#placement-controls,
#player-name {
    min-height: 75px;
    border-radius: 10px;
    background-color: #000;
    line-height: 1.75em;
    text-align: center;
    -moz-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(255, 255, 255, .4);
    -webkit-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(255, 255, 255, .4);
    box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(255, 255, 255, .4);
}

#player-name {
    max-width: 52%;
}

#placement-controls li {
    display: inline;
}

#placement-controls li a {
    text-decoration: none;
}

/* Placement Buttons - Adapted from https: //codepen.io/Brandon-Stoyles/pen/RajYmd */

.placement-button,
#start-game-button {
    background-color: #7C7C7C;
    border-bottom: 6px inset rgba(0, 0, 0, .5);
    border-left: 6px inset rgba(0, 0, 0, .5);
    border-right: 6px inset rgba(255, 255, 255, .5);
    border-top: 6px inset rgba(255, 255, 255, .5);
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    margin: 0.5rem;
    min-width: 150px;
    padding: .25rem;
    text-transform: uppercase;
    width: auto;
}

#start-game-button {
    padding: 1rem;
}

a.placement-button:focus,
a.placement-button:hover {
    background-color: #BCBCBC;
}

#place-control {
    background-color: #881400;
}

#place-control:focus,
#place-control:hover {
    background-color: #A81000;
}

#rotate-control,
#start-game-button {
    background-color: #005800;
}

#rotate-control:focus,
#rotate-control:hover,
#start-game-button:hover,
#start-game-button:focus {
    background-color: #006800;
}

#random-control {
    background-color: #0000BC;
}

#random-control:focus,
#random-control:hover {
    background-color: #0000FC;
}

/* Game Board
   ========================================================================== */

#gameboard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    row-gap: 70px;
}

#player-gameboard,
#computer-gameboard {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(12, 1fr);
    gap: 0px 0px;
}

#gameboard #gameboard-label {
    grid-column: 1 / span 11;
    width: 100%;
    align-items: center;
    text-transform: uppercase;
    border: none;
    padding-left: 25px;
}

#player-gameboard>div,
#computer-gameboard>div {
    display: flex;
    justify-content: center;
    align-items: start;
    border: 0.5px #fff dotted;
    width: 50px;
    height: 50px;
    box-sizing: content-box;
    padding: 0;
}

#player-gameboard .index-row,
#player-gameboard .index-column,
#computer-gameboard .index-row,
#computer-gameboard .index-column {
    border: none;
    font-weight: 900;
    color: #fff;
}

#player-gameboard .index-row,
#player-gameboard .index-column,
#computer-gameboard .index-row,
#computer-gameboard .index-column {
    align-items: center;

}

.playable-area {
    color: #fff;
    position: relative;
}

.playable-area:hover {
    cursor: url(../images/effects/target.png), crosshair;
    background-color: #fff;
}

.ship-placement:hover {
    cursor: url(../images/effects/move.png), all-scroll;
    background-color: #fff;
}

#player-gameboard img,
#computer-gameboard>img {
    z-index: 100;
}

#player-gameboard img,
#computer-gameboard>img {
    position: absolute;
    top: 0;
    left: 20%;
}

#player-gameboard .explosion,
#computer-gameboard .explosion {
    max-width: 50px;
    z-index: 200;
    position: absolute;
    top: 20%;
    left: 0;
}

#player-gameboard .fire,
#computer-gameboard .fire {
    z-index: 200;
    position: absolute;
    top: 12%;
    left: 20%;
}

/* Footer
   ========================================================================== */
footer {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    flex: 1 0 auto;
}

#footer-social,
#footer-social i {
    color: #fff;
    text-align: center;
}

#footer-social i {
    margin-top: 20px;
}


/* ==========================================================================
   Desktop and Landscape Tablet Styles
   ========================================================================== */

@media only screen and (min-width: 1440px) {

    #game-sidebar,
    #game-body,
    #player-gameboard,
    #computer-gameboard,
    #score-inner,
    #score-stats,
    #player-one-stats,
    #player-two-stats,
    .ship-list {
        flex-wrap: nowrap;
    }

    #gameboard {
        flex-direction: row;
        column-gap: 150px;
    }
}