/* ==========================================================================
   Mobile devices
   ========================================================================== */

/* Fonts
   ========================================================================== */
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Press+Start+2P&family=Roboto+Slab:wght@700&family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

nav h1,
#intro-modal-contents h2,
#intro-modal-contents h3,
#rules-modal-contents h2,
#win-modal-contents h2 {
    font-family: 'Black Ops One', 'Lucida Sans Typewriter', Helvetica, sans-serif;
    letter-spacing: 0.1rem;
}

#intro-modal-contents h2,
#rules-modal-contents h2,
#win-modal-contents h2 {
    font-size: 2.2rem;
    text-transform: uppercase;
    margin-top: 10px;
    line-height: 3rem;
    margin-bottom: 1rem;
}

#rules-modal-text h2,
#rules-modal-text h3,
#rules-modal-text h4 {
    margin: 2rem 0;
}

#rules-modal-text ul,
#rules-modal-text li {
    margin-left: 1rem;
}

#rules-modal-text li,
#rules-modal-text p {
    margin-top: 1rem;
}

#game-sidebar h2,
#game-sidebar h3 {
    font-family: 'Black Ops One', 'Lucida Sans Typewriter', Helvetica, sans-serif;
}

#score-stats h2 {
    font-size: 2em;
}

#player-message,
#placement-controls,
#placement-controls button,
#start-game-form label,
#win-modal-contents,
#player-name,
#start-game-button,
#new-game-button,
#new-game-button-404,
#error-message,
#audio-button {
    font-family: 'Press Start 2P', Arial, Helvetica, sans-serif;
}

#intro-modal-contents p {
    text-transform: uppercase;
    font-size: 1.5rem;
}

#intro-contents-404 p {
    font-size: 1.2rem;
}

#win-modal-contents {
    line-height: 1.3rem;
}

#player-message,
#win-modal-contents {
    text-transform: uppercase;
}

#win-modal-contents h2 {
    color: #0000BC;
}

#error-message,
#error-message p,
#error-message a {
    font-size: 1rem;
    text-transform: uppercase;
    line-height: 1.7rem;
}

#error-message,
#error-message a,
.red-text {
    color: #881400;
    font-weight: bold;
    text-shadow: 1px 1px #000;
}

.audio-link {
    font-size: 1.3rem;
}

/* 
Animation to make text flash. Code from ChatGPT
by https://openai.com
*/
@keyframes flash-animation {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.flash {
    animation: flash-animation 2s infinite;
}

#player-name {
    color: #6DFF33;
    padding: 0.5rem;
}

#placement-controls,
#player-message {
    color: #6DFF33;
    padding: 1rem;
}

#placement-controls h3 {
    color: #fff;
    font-size: 0.9em;
    font-weight: normal;
}

#start-game-form label {
    line-height: 1.8rem;
}

#player-name {
    font-size: 1rem;
    text-transform: uppercase;
}

#gameboard #gameboard-label {
    font-family: 'Press Start 2P', Arial, Helvetica, sans-serif;
    color: #FFF;
}

/* Button Pulse Effect - Adapted from https: //www.florin-pop.com/blog/2019/03/css-pulse-effect/ */

.pulse {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
    transform: scale(2);
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}


#scroll-container {
    border: 3px solid black;
    border-radius: 5px;
    overflow: hidden;
}

#scroll-text {
    text-align: right;

    /* animation properties */
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);

    -moz-animation: my-animation 15s linear infinite;
    -webkit-animation: my-animation 15s linear infinite;
    animation: my-animation 15s linear infinite;
}

/* for Firefox */
@-moz-keyframes my-animation {
    from {
        -moz-transform: translateX(-100%);
    }

    to {
        -moz-transform: translateX(100%);
    }
}

/* for Chrome */
@-webkit-keyframes my-animation {
    from {
        -webkit-transform: translateX(-100%);
    }

    to {
        -webkit-transform: translateX(100%);
    }
}

@keyframes my-animation {
    from {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }

    to {
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
}

/* Reset
   ========================================================================== */

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

/* Outer Body
   ========================================================================== */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav {
    padding: 1% 0;
}

nav,
footer {
    background-color: #333332;
    color: #fff;
    padding: 5% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer {
    padding: 10% 0;
}

/* Navigation
   ========================================================================== */
#logo {
    width: 100%;
    margin: 0 auto 2% auto;
    text-align: center;
}

#links {
    width: 100%;
    text-align: center;
    margin: 4% auto 2% auto;
}

#links ul li {
    list-style-type: none;
    display: inline-block;
    margin-right: 20px;
}

#links a {
    text-decoration: none;
    font-weight: bold;
    color: #fff;
}

#links a:hover,
#links a:active,
#links a:focus {
    text-decoration: underline;
    font-weight: bolder;
}

/* Game Container
   ========================================================================== */
#game-container {
    display: flex;
    flex-direction: column-reverse;
    height: auto;
    min-height: 95vh;
}

#game-body,
#player-gameboard,
#computer-gameboard,
#score-stats,
#player-one-stats,
#player-two-stats,
.ship-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 auto;
    align-items: center;
    flex-wrap: nowrap;
}

#game-body {
    position: relative;
    flex: 1;
    width: 100%;
    min-height: 100%;
    background: navy url('../images/backgrounds/ocean.gif') repeat left top;
}

/* Game Intro, Rules & Win Modals - Code adpated from 
 * https://www.w3schools.com/howto/howto_css_modals.asp
   ========================================================================== */

#rules-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

#intro-modal,
#intro-modal-404 {
    display: flex;
}

#win-modal {
    display: none;
}

#intro-modal,
#intro-modal-404,
#win-modal {
    flex-direction: column;
    position: absolute;
    z-index: 500;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff url('../images/backgrounds/battleship-bg-op.webp') no-repeat center left /cover;
    justify-content: flex-start;
}

#intro-modal-contents,
#rules-modal-contents,
#win-modal-contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #888;
}

#win-modal-contents h2 {
    margin-top: 2rem;
}

#intro-modal-contents,
#win-modal-contents {
    text-align: center;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.3);
    width: 90%;
    margin-top: 10%;
}

/* Code to center modal adapted from 
   https: //stackoverflow.com/a/32086720/21643967 */

#rules-modal-contents {
    justify-content: flex-start;
    background-color: #fff;
    width: 50%;
    position: fixed;
    z-index: 15;
    top: 50%;
    width: 90vw;
    height: 90vh;
    margin: 0 5vw;
    margin-top: calc(-90vh / 2);
    overflow: auto;
}

#rules-modal-text {
    width: 70%;
}

#intro-modal-contents form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#start-game-form {
    max-width: 90%;
}

#start-game-form label {
    text-align: center;
    margin-bottom: 50px;
}

#error-message {
    text-align: center;
    margin-top: 10px;
    width: 75%;
}

#intro-contents-404 #error-message {
    width: auto;
}

#intro-contents-404 p {
    margin-bottom: 1.5rem;
    font-weight: bolder;
}

#intro-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

#intro-contents-404 {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

/* Rules Modal Close Button */
.close-container {
    width: 100%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 3rem;
    margin-right: 1rem;
    font-weight: bold;
    margin-right: -15%;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Game Sidebar
   ========================================================================== */

#game-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 auto;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
    background: #848482 url('../images/backgrounds/metal-plates.webp') repeat top left;
}

#score-inner {
    display: flex;
    flex-direction: column;
    height: 97%;
    width: 90%;
    padding-top: 20px;
    background-color: #848482;
    -moz-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(255, 255, 255, .4);
    -webkit-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(255, 255, 255, .4);
    box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(255, 255, 255, .4);
}

#score-stats {
    height: auto;
    align-items: center;
    padding: 5px 0 20px 0;
}

#player-score-stats {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    column-gap: 50px;
    margin-bottom: 10px;
}

#player-one-stats,
#player-two-stats {
    height: 40%;
    align-items: center;
    padding: 30px 0;
    border-top: 1px dashed lightgrey;
}

.score-title,
.score-number {
    display: inline;
}

.score-title,
.score-ship,
#game-sidebar h2 {
    margin-bottom: 10px;
}

.ship-list {
    margin-top: 10px;
}

.score-ship {
    position: relative;
}

#player-two-stats .score-ship>img {
    filter: grayscale(100%);
}

#player-one-stats .score-ship>img.ship-sunk,
#player-two-stats .score-ship>img.ship-sunk {
    filter: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 200;
}

/* Player Message, Modal Player Name & Placement Controls
   ========================================================================== */
#player-message {
    width: 100%;
    margin: 20px auto;
}

#placement-controls {
    width: 80%;
    margin: 40px auto;
}

#placement-controls h3 {
    margin-top: 10px;
}

#player-message,
#placement-controls {
    min-height: 75px;
}

#player-message,
#placement-controls,
#player-name {
    border-radius: 10px;
    background-color: #000;
    line-height: 1.75em;
    text-align: center;
    -moz-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(255, 255, 255, .4);
    -webkit-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(255, 255, 255, .4);
    box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(255, 255, 255, .4);
}

#player-name {
    max-width: 90%;
    min-height: 3rem;
}

#placement-controls li {
    display: inline;
}

/* Placement Buttons - Adapted from https: //codepen.io/Brandon-Stoyles/pen/RajYmd */


.game-button,
#start-game-button,
#new-game-button,
#new-game-button-404 {
    background-color: #333332;
}

.game-button,
#start-game-button,
#new-game-button,
#new-game-button-404,
#audio-button {
    border-bottom: 6px inset rgba(0, 0, 0, .5);
    border-left: 6px inset rgba(0, 0, 0, .5);
    border-right: 6px inset rgba(255, 255, 255, .5);
    border-top: 6px inset rgba(255, 255, 255, .5);
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    margin: 0.5rem;
    min-width: 150px;
    padding: .25rem;
    text-transform: uppercase;
    width: auto;
}

#start-game-button,
#new-game-button,
#new-game-button-404 {
    padding: 1.2rem;
}

#placement-controls button,
#audio-button {
    padding: 1.1rem 0.7rem;
}

.audio-off {
    background-color: #333332;
}


.audio-on {
    background-color: #0000BC;
}

.audio-off:hover {
    background-color: #0000BC;
}

.audio-on:hover {
    background-color: #333332;
}

.game-button:focus,
.game-button:hover {
    background-color: #7C7C7C;
}

#place-control {
    background-color: #881400;
}

#place-control:focus,
#place-control:hover {
    background-color: #A81000;
}

#rotate-control,
#start-game-button {
    background-color: #005800;
}

#rotate-control:focus,
#rotate-control:hover,
#start-game-button:hover,
#start-game-button:focus,
#new-game-button:hover,
#new-game-button:focus,
#new-game-button-404:hover,
#new-game-button-404:focus {
    background-color: #006800;
}

#random-control {
    background-color: #0000BC;
}

#random-control:focus,
#random-control:hover {
    background-color: #0000FC;
}

/* Game Board
   ========================================================================== */

#gameboard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 70px;
}

#player-gameboard,
#computer-gameboard {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(12, 1fr);
    gap: 0px 0px;
}

#computer-gameboard {
    margin-bottom: 10%;
}

/* Adjust gameboard margin bottom when order reversed */

#computer-gameboard,
.gameboard-reverse #player-gameboard {
    margin-bottom: 10%;
}

.gameboard-reverse #computer-gameboard {
    margin-bottom: 0;
}

#gameboard #gameboard-label {
    grid-column: 1 / span 11;
    width: 100%;
    align-items: center;
    text-transform: uppercase;
    border: none;
    padding-left: 25px;
}

#player-gameboard>div,
#computer-gameboard>div {
    display: flex;
    justify-content: center;
    align-items: start;
    border: 0.5px #fff dotted;
    width: 25px;
    height: 25px;
    box-sizing: content-box;
    padding: 0;
}

/* Rezize ships images for smaller grid */
#player-gameboard>div img,
#computer-gameboard>div img {
    width: 57%;
}

#player-gameboard>div img.carrier,
#computer-gameboard>div img.carrier {
    width: 100%;
}

#player-gameboard>div img.submarine,
#computer-gameboard>div img.submarine {
    width: 70%;
}

#player-gameboard>div img.destroyer,
#computer-gameboard>div img.destroyer {
    width: 40%;
}

#player-gameboard {
    order: 1;
}

#computer-gameboard {
    order: 3;
}

#placement-controls {
    order: 2;
}

/* Bring active gameboard to top on small screens */
.gameboard-reverse #player-gameboard {
    order: 2;
}

.gameboard-reverse #computer-gameboard {
    order: 1;
}

.gameboard-reverse #placement-controls {
    order: 3;
}

#player-gameboard .index-row,
#player-gameboard .index-column,
#computer-gameboard .index-row,
#computer-gameboard .index-column {
    border: none;
    font-weight: 900;
    color: #fff;
}

#player-gameboard .index-row,
#player-gameboard .index-column,
#computer-gameboard .index-row,
#computer-gameboard .index-column {
    align-items: center;

}

.computer-play-area,
.player-play-area {
    color: #fff;
    position: relative;
}

.red-background,
.red-background.ship-placement:hover {
    background-color: #881400;
}

/* classes to control gameboard hover icons - classes added/removed by js */
.shot:hover {
    cursor: url(../images/effects/target.png), crosshair;
    background-color: #fff;
}

.ship-placement:hover {
    cursor: url(../images/effects/move.png), all-scroll;
    background-color: #fff;
}

.no-placement:hover,
.hit:hover,
.miss:hover {
    cursor: url(../images/effects/not-allowed.png), not-allowed;
}

#player-gameboard img,
#computer-gameboard img {
    z-index: 0;
}

/* class to increase z-index and bring ship image to top when placed */
#player-gameboard .placed img,
#computer-gameboard .placed img {
    z-index: 100;
}

#player-gameboard img,
#computer-gameboard img {
    position: absolute;
    top: 0;
    left: 20%;
}

/* adjust placement of carrier ship image */
#player-gameboard img.carrier,
#computer-gameboard img.carrier {
    top: 25%;
    left: 5%;
}

/* adjust placement of destroyer ship image */
#player-gameboard img.destroyer,
#computer-gameboard img.destroyer {
    left: 30%;
}

#player-gameboard .explosion,
#computer-gameboard .explosion,
#player-gameboard .splash,
#computer-gameboard .splash {
    max-width: 50px;
    z-index: 200;
    position: absolute;
    top: 20%;
    left: 0;
}

#player-gameboard .splash,
#computer-gameboard .splash {
    left: 20%;
}

#player-gameboard .fire,
#computer-gameboard .fire,
#gameboard #player-gameboard .splash-miss,
#computer-gameboard .splash-miss {
    z-index: 200;
    position: absolute;
    top: 12%;
    left: 20%;
}

#player-gameboard .splash-miss,
#computer-gameboard .splash-miss {
    top: 20%;
}

.ship-invalid {
    background-color: #A81000;
}

#ship-404 {
    position: relative;
}

#ship-404 #battleship-404 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

#ship-404 img:not(#battleship-404) {
    position: relative;
}

/* Footer
   ========================================================================== */
footer {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    flex: 1 0 auto;
}

#footer-social,
#footer-social i {
    color: #fff;
    text-align: center;
}

#footer-social i {
    margin-top: 20px;
}

/* ==========================================================================
   Wider phone screens
   ========================================================================== */

@media only screen and (min-width: 400px) {

    /* Make grid sqaurs bigger on wider mobile screens */
    #player-gameboard>div,
    #computer-gameboard>div {
        width: 35px;
        height: 35px;
    }

}

/* ==========================================================================
   iPads & tablets
   ========================================================================== */

@media only screen and (min-width: 600px) {

    /* Fonts
       ====================================================================== */

    #intro-modal-contents h2,
    #rules-modal-contents h2,
    #win-modal-contents h2 {
        font-size: 3rem;
    }

    #intro-buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0;
    }

    #player-name {
        font-size: 2rem;
    }

    /* Outer Body
    ========================================================================= */

    nav,
    footer {
        padding: 2% 0;
    }

    #links {
        margin: 2% auto;
    }


    /* Game Intro, Rules & Win Modal
       ====================================================================== */

    #intro-modal,
    #win-modal {
        justify-content: center;
    }

    #intro-modal-contents,
    #win-modal-contents {
        row-gap: 0;
        justify-content: flex-start;
        margin-top: 0;
    }

    #player-name {
        max-width: 75%;
    }

    /* Game Sidebar
       ====================================================================== */

    #score-inner {
        display: flex;
        flex-direction: row;
    }

    #player-one-stats,
    #player-two-stats {
        padding: 0;
        border-top: none;
    }

    /* Game Board
       ====================================================================== */

    /* Make ship cells and ships iamges larger */

    #player-gameboard>div,
    #computer-gameboard>div {
        width: 50px;
        height: 50px;
    }

    #player-gameboard>div img,
    #computer-gameboard>div img {
        width: auto;
    }

    #player-message {
        width: 80%;
    }
}


/* ==========================================================================
   Smaller screens and laptops
   ========================================================================== */

@media only screen and (min-width: 1024px) {

    /* Outer Body
    ========================================================================= */

    nav,
    footer {
        padding: 1% 0;
    }

    /* Game Intro, Rules & Win Modal
    ========================================================================= */

    #intro-modal-contents #start-game-button,
    #win-modal-contents #new-game-button,
    #audio-button {
        margin-top: 30px;
    }

    #player-name {
        max-width: 52%;
    }

    /* Player Message, Modal Player Name & Placement Controls
        ================================================================== */

    #player-message,
    #placement-controls,
    #player-name {
        min-height: 75px;
    }

    #placement-controls,
    #player-name {
        padding: 0.5rem;
    }
}

/* ==========================================================================
    Desktop small screens
   ========================================================================== */

@media only screen and (min-width: 1200px) {

    /* Outer Body
       ====================================================================== */
    nav,
    footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    /* Navigation
       ====================================================================== */
    #logo {
        width: 15%;
        margin: 0;
        padding-left: 10px;
    }

    #links {
        width: 85%;
        text-align: right;
        margin: 0;
    }

    /* Game Container
       ====================================================================== */
    #game-container {
        display: flex;
        flex-direction: row;
        height: auto;
        min-height: 95vh;
        width: auto;
    }

    #game-body {
        width: 85%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin: 0 auto;
        align-items: center;
        flex-wrap: nowrap;
    }

    #game-sidebar,
    #player-gameboard,
    #computer-gameboard,
    #score-inner,
    #score-stats,
    #player-one-stats,
    #player-two-stats,
    .ship-list {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin: 0 auto;
        align-items: center;
        flex-wrap: nowrap;
    }

    /* Game Intro, Rules & Win Modal
    ====================================================================== */

    #intro-modal,
    #intro-modal-404 {
        justify-content: flex-start;
    }

    #intro-modal-contents,
    #win-modal-contents {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 50px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #888;
    }

    #intro-modal-404 #intro-modal-contents {
        row-gap: 20px;
    }

    #intro-modal-contents,
    #win-modal-contents {
        width: 70%;
        height: 55%;
        margin-top: 7.5%;
    }

    /* Player Message, Modal Player Name & Placement Controls
        ================================================================== */

    #player-message {
        width: 55%;
        max-width: 900px;
    }

    #placement-controls {
        width: 55%;
    }

    /* Game Board
    ===================================================================== */

    #player-gameboard,
    #computer-gameboard {
        display: grid;
        grid-template-columns: repeat(11, 1fr);
        grid-template-rows: repeat(12, 1fr);
        gap: 0px 0px;
    }

    /* Game Sidebar
       ====================================================================== */

    #game-sidebar {
        display: flex;
        flex-direction: row;
        width: 15%;
        min-width: 250px;
    }

    #player-one-stats,
    #player-two-stats {
        padding: 30px 0;
        border-top: 1px dashed lightgrey;
    }

    #score-stats,
    #player-one-stats,
    #player-two-stats {
        height: auto;
    }
}

/* ==========================================================================
   Desktops and wide screens 
   ========================================================================== */

@media only screen and (min-width: 1600px) {

    /* Game Intro, Rules & Win Modal
    ====================================================================== */

    #intro-modal-contents,
    #win-modal-contents {
        width: 60%;
        height: 55%;
    }

    /* Game Board
        ===================================================================== */

    #gameboard {
        display: flex;
        flex-direction: row;
    }

    #computer-gameboard {
        order: 2;
        margin-bottom: 0;
    }

    #player-gamebaord,
    .gameboard-reverse #computer-gameboard,
    .gameboard-reverse #player-gameboard {
        margin-bottom: 0;
    }

    /* Don't reverse game boards on wider screens */
    #player-gameboard {
        order: 1;
    }

    #computer-gameboard {
        order: 3;
    }

    #placement-controls {
        order: 3;
    }

    .gameboard-reverse #player-gameboard {
        order: 1;
    }

    .gameboard-reverse #computer-gameboard {
        order: 3;
    }

    .gameboard-reverse #placement-controls {
        order: 2;
    }
}