/** Layout **/
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav,
footer {
    width: 100%;
    height: 7.5vh;
    background-color: lightblue;
    padding: 1%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#logo {
    width: 22.5%;
}

#links {
    width: 72.5%;
    text-align: right;
}

#links ul li {
    list-style-type: none;
    display: inline-block;
    margin-right: 20px;
}

#links a {
    text-decoration: none;
}

#gameContainer {
    display: flex;
    flex-direction: row;
    height: 85vh;
}

#gameSidebar,
#gameBody,
#player-gameboard,
#computer-gameboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

#gameSidebar {
    width: 15%;
    background-color: grey;
    padding: 1%;
    background: #fff url('../images/backgrounds/metal-plates.webp') repeat top left;
}

#gameBody {
    width: 85%;
    height: auto;
    background-color: lightgreen;
}

footer {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    flex: 1 0 auto;
}