/* ==========================================================================
   Mobile Styles
   ========================================================================== */

/* Fonts
   ========================================================================== */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto+Slab:wght@700&family=Roboto:wght@400;700&display=swap');


/* Fonts
   ========================================================================== */
body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

nav h1 {
    font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    animation: glow 2s ease-in-out infinite alternate;
}

#player-message {
    font-family: 'Press Start 2P', Arial, Helvetica, sans-serif;
    color: #6DFF33;
}

@keyframes glow {
    from {
        text-shadow: 10px 10px 100px #FC6400;
    }

    to {
        text-shadow: 0 0 30px #FC6400, 0px 10px 10px #801100;
    }
}

/* Layout
   ========================================================================== */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav,
footer {
    height: 3vh;
    background-color: #08262C;
    color: #fff;
    padding: 1%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#logo {
    width: 22.5%;
    min-width: 250px;
}

#links {
    width: 72.5%;
    text-align: right;
}

#links ul li {
    list-style-type: none;
    display: inline-block;
    margin-right: 20px;
}

#links a {
    text-decoration: none;
    font-weight: bold;
    color: #fff;
}

#gameContainer {
    display: flex;
    flex-direction: row;
    height: 84vh;
}

#gameSidebar,
#gameBody,
#player-gameboard,
#computer-gameboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

#gameSidebar {
    width: 15%;
    background-color: grey;
    padding: 1%;
    background: #fff url('../images/backgrounds/metal-plates.webp') repeat top left;
}

#gameBody {
    width: 85%;
    height: auto;
    background-color: lightgreen;
    background: #fff url('../images/backgrounds/battleship-bg-op.webp') no-repeat center left;
    height: 100%;
}

#player-message {
    width: 50%;
    max-width: 400px;
    min-height: 75px;
    border-radius: 10px;
    background-color: #000;
    margin: 25px auto;
    text-align: center;
    -moz-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(255, 255, 255, .4);
    -webkit-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(255, 255, 255, .4);
    box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(255, 255, 255, .4);
}

#gameboard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#player-gameboard,
#computer-gameboard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
}

#player-gameboard>div,
#computer-gameboard>div {
    display: flex;
    justify-content: center;
    align-items: start;
    border: 0.5px #fff dotted;
    width: 50px;
    height: 50px;
    box-sizing: content-box;
    padding: 0;
}

#player-gameboard .indexRow,
#player-gameboard .indexColumn,
#computer-gameboard .indexRow,
#computer-gameboard .indexColumn {
    border: none;
    font-weight: 900;
}

#player-gameboard .indexRow,
#player-gameboard .indexColumn,
#computer-gameboard .indexRow,
#computer-gameboard .indexColumn {
    align-items: center;

}

.playableArea {
    background: lightblue url('../images/backgrounds/ocean.gif') repeat left top;
    color: #fff;
    position: relative;
}

#player-gameboard img,
#computer-gameboard>img {
    z-index: 100;
}

#player-gameboard img,
#computer-gameboard>img {
    position: absolute;
    top: 0;
    left: 20%;
}

#player-gameboard .explosion,
#computer-gameboard .explosion {
    max-width: 50px;
    z-index: 200;
    position: absolute;
    top: 20%;
    left: 0;
}

#player-gameboard .fire,
#computer-gameboard .fire {
    z-index: 200;
    position: absolute;
    top: 12%;
    left: 20%;
}

footer {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    flex: 1 0 auto;
}