/* ==========================================================================
   Mobile Styles
   ========================================================================== */

/* Fonts
   ========================================================================== */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto+Slab:wght@700&family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

nav h1 {
    font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    animation: glow 2s ease-in-out infinite alternate;
}

#player-message {
    font-family: 'Press Start 2P', Arial, Helvetica, sans-serif;
    color: #6DFF33;
    padding: 1.5em;
}

@keyframes glow {
    from {
        text-shadow: 10px 10px 100px #FC6400;
    }

    to {
        text-shadow: 0 0 30px #FC6400, 0px 10px 10px #801100;
    }
}

/* Reset
   ========================================================================== */

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

/* Layout
   ========================================================================== */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav,
footer {
    height: 3vh;
    background-color: #08262C;
    color: #fff;
    padding: 1% 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#logo {
    width: 15%;
    text-align: center;
}

#links {
    width: 85%;
    text-align: right;
}

#links ul li {
    list-style-type: none;
    display: inline-block;
    margin-right: 20px;
}

#links a {
    text-decoration: none;
    font-weight: bold;
    color: #fff;
}

#game-container {
    display: flex;
    flex-direction: row;
    height: auto;
    min-height: 95vh;
}

#game-sidebar,
#game-body,
#player-gameboard,
#computer-gameboard,
#score-inner,
#score-stats,
#player-one-stats,
#player-two-stats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

#game-sidebar {
    width: 15%;
    min-width: 250px;
    background: #848482 url('../images/backgrounds/metal-plates.webp') repeat top left;
}

#score-inner {
    height: 95%;
    width: 85%;
    background-color: #848482;
    -moz-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(255, 255, 255, .4);
    -webkit-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(255, 255, 255, .4);
    box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(255, 255, 255, .4);
}

#score-stats {
    height: auto;
    align-items: center;
}

#player-score-stats {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    column-gap: 50px;
    margin-bottom: 10px;
}

#player-one-stats,
#player-two-stats {
    height: 40%;
    align-items: center;
}

.score-title,
.score-number {
    display: inline;
}

.score-title,
.score-ship {
    margin-bottom: 10px;
}

#game-body {
    width: 85%;
    height: auto;
    background-color: lightgreen;
    background: navy url('../images/backgrounds/ocean.gif') repeat left top;
    /* Background to use for introdiv - background: #fff url('../images/backgrounds/battleship-bg-op.webp') no-repeat center left; */
}

#player-message {
    width: 50%;
    max-width: 400px;
    min-height: 75px;
    border-radius: 10px;
    background-color: #000;
    margin: 0 auto 40px auto;
    text-align: center;
    -moz-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(255, 255, 255, .4);
    -webkit-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(255, 255, 255, .4);
    box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(255, 255, 255, .4);
}

#gameboard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#player-gameboard,
#computer-gameboard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
}

#player-gameboard>div,
#computer-gameboard>div {
    display: flex;
    justify-content: center;
    align-items: start;
    border: 0.5px #fff dotted;
    width: 50px;
    height: 50px;
    box-sizing: content-box;
    padding: 0;
}

#player-gameboard .indexRow,
#player-gameboard .indexColumn,
#computer-gameboard .indexRow,
#computer-gameboard .indexColumn {
    border: none;
    font-weight: 900;
    color: #fff;
}

#player-gameboard .indexRow,
#player-gameboard .indexColumn,
#computer-gameboard .indexRow,
#computer-gameboard .indexColumn {
    align-items: center;

}

.playableArea {
    color: #fff;
    position: relative;
}

#player-gameboard img,
#computer-gameboard>img {
    z-index: 100;
}

#player-gameboard img,
#computer-gameboard>img {
    position: absolute;
    top: 0;
    left: 20%;
}

#player-gameboard .explosion,
#computer-gameboard .explosion {
    max-width: 50px;
    z-index: 200;
    position: absolute;
    top: 20%;
    left: 0;
}

#player-gameboard .fire,
#computer-gameboard .fire {
    z-index: 200;
    position: absolute;
    top: 12%;
    left: 20%;
}

footer {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    flex: 1 0 auto;
}