/* ==========================================================================
   Mobile Styles
   ========================================================================== */

/* Fonts
   ========================================================================== */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto+Slab:wght@700&family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

/* Logo Glow Effect - Adapted from https: //codepen.io/ambercheydesigns/details/YzPgOvy */
nav h1 {
    font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    animation: glow 2s ease-in-out infinite alternate;
}

@keyframes glow {
    from {
        text-shadow: 10px 10px 100px #FC6400;
    }

    to {
        text-shadow: 0 0 30px #FC6400, 0px 10px 10px #801100;
    }
}

#player-message,
#placement-controls {
    font-family: 'Press Start 2P', Arial, Helvetica, sans-serif;
    color: #6DFF33;
    padding: 1.5em;
}

/* Reset
   ========================================================================== */

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

/* Outer Body
   ========================================================================== */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav,
footer {
    background-color: #08262C;
    color: #fff;
    padding: 1% 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* Navigation
   ========================================================================== */
#logo {
    width: 15%;
    text-align: center;
}

#links {
    width: 85%;
    text-align: right;
}

#links ul li {
    list-style-type: none;
    display: inline-block;
    margin-right: 20px;
}

#links a {
    text-decoration: none;
    font-weight: bold;
    color: #fff;
}

/* Game Container
   ========================================================================== */
#game-container {
    display: flex;
    flex-direction: row;
    height: auto;
    min-height: 95vh;
}

#game-sidebar,
#game-body,
#player-gameboard,
#computer-gameboard,
#score-inner,
#score-stats,
#player-one-stats,
#player-two-stats,
.ship-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    flex-wrap: wrap;
}

/* Game Sidebar
   ========================================================================== */
#game-sidebar {
    width: 15%;
    min-width: 250px;
    background: #848482 url('../images/backgrounds/metal-plates.webp') repeat top left;
}

#score-inner {
    height: 97%;
    width: 85%;
    background-color: #848482;
    -moz-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(255, 255, 255, .4);
    -webkit-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(255, 255, 255, .4);
    box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(255, 255, 255, .4);
}

#score-stats {
    height: auto;
    align-items: center;
    padding: 5px 0 20px 0;
}

#player-score-stats {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    column-gap: 50px;
    margin-bottom: 10px;
}

#player-one-stats,
#player-two-stats {
    height: 40%;
    align-items: center;
    padding: 30px 0;
    border-top: 1px dashed lightgrey;
}

.score-title,
.score-number {
    display: inline;
}

.score-title,
.score-ship,
#game-sidebar h2 {
    margin-bottom: 10px;
}

.ship-list {
    margin-top: 10px;
}

#player-two-stats .score-ship>img {
    filter: grayscale(100%);
}

#game-body {
    width: 85%;
    height: auto;
    background: navy url('../images/backgrounds/ocean.gif') repeat left top;
    /* Background to use for introdiv - background: #fff url('../images/backgrounds/battleship-bg-op.webp') no-repeat center left; */
}

/* Player Message & Placement Controls
   ========================================================================== */
#player-message {
    width: 50%;
    max-width: 400px;
}

#placement-controls {
    width: 70%;
}

#player-message,
#placement-controls {
    min-height: 75px;
    border-radius: 10px;
    background-color: #000;
    margin: 20px auto 40px auto;
    line-height: 1.75em;
    text-align: center;
    -moz-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(255, 255, 255, .4);
    -webkit-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(255, 255, 255, .4);
    box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(255, 255, 255, .4);
}

#placement-controls li {
    display: inline;
}

#placement-controls li a {
    text-decoration: none;
    line-height: 2rem;
}

/* Placement Buttons - Adapted from https: //codepen.io/Brandon-Stoyles/pen/RajYmd */

.placement-button {
    background-color: #7C7C7C;
    border-bottom: 6px inset rgba(0, 0, 0, .5);
    border-left: 6px inset rgba(0, 0, 0, .5);
    border-right: 6px inset rgba(255, 255, 255, .5);
    border-top: 6px inset rgba(255, 255, 255, .5);
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    margin: 1rem;
    min-width: 200px;
    padding: .5rem;
    text-transform: uppercase;
    width: auto;
}

.placement-button a:focus,
.placement-button a:hover {
    background-color: #BCBCBC;
}

.placement-button #place-control {
    background-color: #881400;
}

.placement-button #place-control a:focus,
.placement-button #place-control a:hover {
    background-color: #A81000;
}

.placement-button #rotate-control {
    background-color: #005800;
}

.placement-button #rotate-control a:focus,
.placement-button #rotate-control a:hover {
    background-color: #006800;
}

.placement-button #random-control {
    background-color: #0000BC;
}

.placement-button #random-control a:focus,
.placement-button #random-control a:hover {
    background-color: #0000FC;
}

/* Game Board
   ========================================================================== */

#gameboard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    row-gap: 70px;
    padding: 50px;
}

#player-gameboard,
#computer-gameboard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
}

#player-gameboard>div,
#computer-gameboard>div {
    display: flex;
    justify-content: center;
    align-items: start;
    border: 0.5px #fff dotted;
    width: 50px;
    height: 50px;
    box-sizing: content-box;
    padding: 0;
}

#player-gameboard .indexRow,
#player-gameboard .indexColumn,
#computer-gameboard .indexRow,
#computer-gameboard .indexColumn {
    border: none;
    font-weight: 900;
    color: #fff;
}

#player-gameboard .indexRow,
#player-gameboard .indexColumn,
#computer-gameboard .indexRow,
#computer-gameboard .indexColumn {
    align-items: center;

}

.playableArea {
    color: #fff;
    position: relative;
}

#player-gameboard img,
#computer-gameboard>img {
    z-index: 100;
}

#player-gameboard img,
#computer-gameboard>img {
    position: absolute;
    top: 0;
    left: 20%;
}

#player-gameboard .explosion,
#computer-gameboard .explosion {
    max-width: 50px;
    z-index: 200;
    position: absolute;
    top: 20%;
    left: 0;
}

#player-gameboard .fire,
#computer-gameboard .fire {
    z-index: 200;
    position: absolute;
    top: 12%;
    left: 20%;
}

footer {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    flex: 1 0 auto;
}


/* ==========================================================================
   Desktop and Landscape Tablet Styles
   ========================================================================== */

@media only screen and (min-width: 1440px) {

    #game-sidebar,
    #game-body,
    #player-gameboard,
    #computer-gameboard,
    #score-inner,
    #score-stats,
    #player-one-stats,
    #player-two-stats,
    .ship-list {
        flex-wrap: nowrap;
    }

    #gameboard {
        flex-direction: row;
        column-gap: 150px;
    }
}